@charset "UTF-8";
/* CSS Document */

.background {
  background-color: black;
}

.login-form {
  text-align: center;
  margin-top: 35%;
  padding-left: 40;
  padding-right: 40;
}

.form-field {
  border-width: 2;
  border-color: #ffffff;
  color: #ffffff;
  border-radius: 80;
  placeholder-color: #eeeeee;
  margin-bottom: 15;
  /*background-color: #ffffff; */
}

.button {
  color: red;
}

.button:highlighted {
  background-color: #ffffff;
  color: #00aeef;
}

/*.message {
  margin-top: 15;
  margin-right: 0;
  margin-bottom: 0;
  color: #eeeeee;
  font-size: 12;
}
*/
.registration {
  color: #eeeeee;
  font-size: 12;
}